*{
    margin: 0;
   padding: 0;
}

.wrapper{
background-image: url(Computer.jpg);
background-position: center;
background-size: cover;
width: 100%;
height: 100vh;
position: relative;
min-height: 100px;
}

.navbar{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 80px;
}

.logo{
    width: 50px;
    padding: 10px 20px;
}

.navbar ul{
    float: right;
    padding: 20px;
}

.navbar ul li{
    list-style: none;
    margin: 0 8px;
    list-style: 80px;
    display: inline-block;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    border-radius: 70px;
    margin-bottom: 70px;
}

.navbar ul li a:hover{
    background-color: #fff;
    color: red;
}

.center h1{
    margin-bottom: 70px;
    border-radius: 70px;
    color: #fff;
    
}

.tittle{
    position: relative;
    top: 60%;
    left: 40%;
    transition: 0.5 ease;
}

.heading{
    color: lightgreen;
    font-size: 50px;
}

